<fieldset>
  <legend>Datos del paciente:</legend>
  <p>
    <label for="name">Nombre del Paciente</label>
    <input type="text" name="name" id="name" required />
  </p>
  <p>
    <label for="email">E-Mail</label>
    <input type="email" name="email" id="email" required />
  </p>

  <p>
    <label for="phone">Teléfono</label>
    <input type="number" name="phone" id="phone" required>
  </p>

  <p>
    <label for="age">Edad</label>
    <input type="number" name="age" id="age">
  </p>

  <p>
    <label for="shoeSize">Talla del Calzado</label>
    <input type="number" name="shoeSize" id="shoeSize" value="20 " min="20" max="45">
  </p>

  <p>
    <label for="heigh">Altura</label>
    <input type="range" name="heigh" id="heigh" min="100" max="250">
    <output name="result" for="heigh"></output>
  </p>

  <p>
    <label for="birthDate">Fecha de Nacimiento</label>
    <input type="date" name="birthDate" id="birthDate" required>
  </p>

  <p>
    <label for="hair">Color de Pelo</label>
    <select name="hair" id="hair">
        <option value="" disabled selected>Seleccione Una Opción</option>
        <option value="negro">Negro</option>
        <option value="rubio">Rubio</option>
        <option value="castaño">Castaño</option>
        <option value="pelirojo">Pelirojo</option>
        <option value="canoso">Canoso</option>
    </select><br>
  </p>

  <p>
    <label for="diagnosis">Diagnóstico</label>
    <input type="file" name="personalImage" id="personalImage" accept=".jpg,.png">
  </p>

</fieldset>

<fieldset>
  <legend>Datos del turno</legend>
  <p>
    <label for="dateDay">Fecha del Turno</label>
    <input type="date" name="dateDay" id="dateDay">
  </p>
  <p>
    <label for="hour">Hora del Turno</label>
    <input type="time" name="hour" id="hour" value="08:00" min="08:00" max="17:00" step="900">
  </p>

</fieldset>
